/* header*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-image: url("skibakgrunn.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  /*background-color: #2196F3;*/
  padding: 10px;
  margin: -0.5em;
  margin-bottom: 0.5em;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 30px;
  grid-template-rows: auto;
}

.div2{
  grid-column-start: 1.5;
  grid-column-end: 3;
  height: 25vh;  
  text-align: center;
}

.header{
  color: blue;
  text-shadow: 5px 4px black;
  font-size: 230%;
}

h1:hover{
  animation: skiftafarga 1s infinite;
  -webkit-animation: skiftafarga 1s infinite;
}

a{
  color: black;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}

.div4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-hover a:hover{
  opacity: 0.6;
  color: black;
  text-decoration: none;
}

body{
	min-height: 100vh;
	overflow-x: hidden;
}

/*keyframe*/
@keyframes skiftafarga {
  0%    {color: blue;}
  50%   {color: darkblue;}
  100%  {color: blue;}
}

@-webkit-keyframes skiftafarga {
  0%    {color: blue;}
  50%   {color: darkblue;}
  100%  {color: blue;}
}





/*---------------main----------------*/
h2{
  text-align: center;
  font-size: 40px;
  text-decoration: bold;
  text-decoration-color: blue;
  font-family: 'EB Garamond', serif;
}

h3{
  margin-top: 10%;
  font-size: 18px;
  text-align: center;
}

.div_h3{
  background-image: url(nedtur.jpg);
  border: solid 3px black;
  border-radius: 50%;
  background-size: cover;
  width: 450px;
  height: 300px;
  margin: auto;
}

.grid-container_body{
  /*background-color: lightgrey;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-gap: 10px;
  padding: 20px;
  margin: 20px;
}

.grid-container_body > div{
  /*background-color: darkgrey;*/
  text-align: left;
  padding: 20px;
}

.link_i_teksten{
  color: blue;
}

/*biletet*/
.div_1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
  background-size: cover;

}

.toggis{
  display: block;
}

.toggamstrek{
  display: none;
}

.div_1:hover .toggamstrek{
  display: block;
}

.div_1:hover .toggis{
  display: none;
}

img{
  width: 70%;
  margin: 5%;
}

/*tekstboks*/
.div_4{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-left: 13%;
  border: solid 3px black;
  width: 80%;
  height: 100%;
  font-size: 25px;
}

.div_4 a{
  color: blue;
}

p{
  font-family: 'EB Garamond', serif;
  text-align: left;
}

/*tabell*/
tr{
  font-size: 30px;
}

td{
  background-color: #33333320;
  padding: 7px 14px;
  border: 3px solid black;
  height: 60px;
}

th{
  background-color: lightgrey;
  text-align: left;
  padding: 7px 14px;
  border: 5px solid black;
  border-bottom: solid 5px black;
}

table{
  border-collapse: collapse;
  align-content: right;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.blåfjell:hover{
  background-image: url(panorama-blåfjell.jpg);
  background-size: cover;
  text-align: center;
}

.kambafjell:hover{
  background-image: url(panorama-kambafjell.jpg);
  background-size: cover;
  text-align: center;
}

.tylderingen:hover{
  background-image: url(panorama-tylderingen.jpg);
  background-size: cover;
  text-align: center;
}

.svartholten:hover{
  background-image: url(panorama-svartholten.jpg);
  background-size: cover;
  text-align: center;
}

.nonsholten:hover{
  background-image: url(panorama-nonsholten.jpg);
  background-size: cover;
  text-align: center;
}

.togga:hover{
  background-image: url(panorama-togga.jpg);
  background-size: cover;
  text-align: center;
}

.guide{
  font-size: 30px;
  font-family: 'EB Garamond', serif;
  background-color: white;
  padding: 20px;
  border: solid 5px #111111;
}

.usynle{
  border: 0;
  color: none;
  background: none;
}



/*-----------------footer----------------------*/
footer{
  height: 5rem;
}

.grid-container_botn{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: #33333390;
  color: darkblue;
  text-shadow: 1px 1px blue;
  padding: 10px;
  margin: -0.5em;

}

.grid-container_botn > div{
  text-align: center;
  font-size: 30px;
  padding: 17px;
}


